<div style="width: 675px;margin-left: 25%;margin-top:3%;">
	<h2 class="ui top attached center aligned header">About Ganking Gamers</h2>
	<div class="ui segment attached">
		<p>
			<b>Chaose</b> - I am the main gamer of the site and do the majority of the let's plays and commentaries. I love to play really difficult games, being the compulsive try-hard that I am, though my success can be limited. Be aware, I am a loot-whore, and I am always looking for a new challenge. Oh, and I also like long walks on the beach as well as fighting giant monsters.
		</p>
		<p>
			<b>CodeNinja</b> - I am the "tech-guy". I handle the equipment and day-to-day operations of Ganking Gamers. My lack of general skill at most games gives Chaose the opportunity to place me in the most difficult games to show you that there in fact is someone that is more of a nube than you are.
		</p>
		<p>
			<b>Contact Us:</b> thegankinggamers@gmail.com
		</p>
	</div>
</div>