<div style="width: 675px;margin-left: 25%;margin-top:3%;">
	<h2 class="ui top attached center aligned header">Quicklooks/Commentaries</h2>
	<div class="ui segment attached">
		<div class="content">
			Commentaries are the strategic half of The Ganking Gamers site, where I, Chaose, will provide you with hints and tips to get past difficult sections of games. As always, games will be played on their hardest difficulty, to show the best ways to get past those difficult bosses or those "unbeatable" sections. This is also where I will feed my counterpart, CodeNinja, to the wolves for your viewing entertainment. Now have fun and GG.
		</div>
	</div>
</div>