<div style="width: 675px;margin-left: 25%;margin-top:3%;">
	<h2 class="ui top attached center aligned header">Ganking Gamers</h2>
	<div class="ui segment attached">
		<div class="content">
			Welcome to the home of The Ganking Gamers, where only the cheapest of shots are considered
			good. Our motto is to bring you walkthroughs and commentaries with a mix of both fun and "skill" and provide you with strategies to get through the hardest of games or at least let
			you laugh at our deaths. Now have fun and GG.
		</div>
	</div>
</div>






