<div style="width: 675px;margin-left: 25%;margin-top:3%;">
	<h2 class="ui top attached center aligned header">Let's Plays</h2>
	<div class="ui segment attached">
		<div class="content">
			Welcome to Perfectly Incompetent Walkthroughs! With the belief that gaming is only fun
			when it really hurts, I, your humble host, Chaose, charge bravely forward head first into
			games at their hardest. There will be strategy, there will be success, and there will be a lot of failure, but most importantly there will be one perfectly incomptent walkthrough. Now have fun and GG.
		</div>
	</div>
</div>

<div style="width: 300px;margin-left:39%;margin-top:2%;">
	<div class="ui attached segment">
		<h4 class="ui dividing header">Current Games</h4>
		<div class="ui small fluid input">
			<input type="text" placeholder="Search..." ng-model="search">
		</div>
		
		<div class="ui fluid divided selection list">
			<a href="#{{game.href}}" ng-repeat="game in games | filter:search" class="link item"><b>{{game.name}}</b></a>
		</div>
	</div>
</div>
